<div id="route-start-row">
    <% if (!useCurrentLocation) { %>
    <label for="start" class="ui-hidden-accessible">Enter Start:</label>
    <input name="start" id="start" value="<%= start ? start : '' %>"
      placeholder="Enter Start" type="text" data-clear-btn="true">
    <% } %>
    <input name="use-current-location-checkbox"
      id="use-current-location-checkbox"
      data-mini="true" type="checkbox" <%= useCurrentLocation ? 'checked="checked"' : '' %> />
    <label for="use-current-location-checkbox">Start at My Current Location</label>
</div>
<div id="route-destination-row">
    <label for="destination" class="ui-hidden-accessible">Enter Destination:</label>
    <input name="destination" id="destination" value="<%= destination ? destination : '' %>"
      placeholder="Enter Destination" type="text" data-clear-btn="true">
    <button id="submit-route-btn" class="ui-shadow ui-button ui-corner-all">Submit</button>
</div>
